:root {
    --primary: #ff7600;
    --primary-light: #f90e;
    --primary-dark: #e06800;
    --primary-darker: #cc5f00;
    --secondary: var(--primary);

    /* Override Bootstrap theme colors */
    --bs-primary: var(--primary);
    --bs-primary-rgb: 255, 118, 0;
    --bs-secondary: var(--secondary);
    --bs-secondary-rgb: 255, 118, 0;
    --bs-link-color: var(--primary);
    --bs-link-color-rgb: 255, 118, 0;
    --bs-link-hover-color: var(--primary-dark);
    --bs-link-hover-color-rgb: 224, 104, 0;

    --gradient-primary: linear-gradient(90deg, var(--primary-light) 0%, var(--primary) 100%) no-repeat padding-box padding-box;
}

.btn-primary {
    background: var(--gradient-primary);
    border: none;
    --bs-btn-hover-bg: var(--primary-dark);
    --bs-btn-hover-border-color: var(--primary-dark);
    --bs-btn-active-bg: var(--primary-darker);
    --bs-btn-active-border-color: var(--primary-darker);
}

.btn-primary:hover {
    background: linear-gradient(90deg, var(--primary) 0%, var(--primary-dark) 100%) no-repeat padding-box padding-box;
}

.btn-secondary {
    --bs-btn-bg: var(--secondary);
    --bs-btn-border-color: var(--secondary);
    --bs-btn-hover-bg: var(--primary-dark);
    --bs-btn-hover-border-color: var(--primary-dark);
    --bs-btn-active-bg: var(--primary-darker);
    --bs-btn-active-border-color: var(--primary-darker);
}

.bg-primary {
    background: var(--gradient-primary) !important;
}

.text-primary {
    color: var(--primary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.border-primary {
    border-color: var(--primary) !important;
}

.border-secondary {
    border-color: var(--secondary) !important;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}


main {
    flex: 1;

    background-image: url("/images/hero-bg.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}